$navbarBackground: #056772;
$navbarBackgroundHighlight: #056772;
$navbarText: #ffffff;
$navbarLinkColor: #ffffff;
$bodyBackground: transparent;
$gridColumnWidth: 75px;
@import 'bootstrap';


html {
  background: url('/images/background.png');
}

body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

body > header {
  background-color: white;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.navbar {
  .navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  
  .nav {
    padding: 5px 0;

    & > li {
      border-right: 1px solid #04525b;
      border-left: 1px solid #36858e;
      
      &:first-child { border-left: 0;}
      &:last-child { border-right: 0;}

      & > a {
        padding: 5px 15px 5px;
      }
    }
  }

  .container { width: 1120px;}
}

.tinymce {
  height: 600px;
}

#header {
  background: #056772;
}

#identity {
  background: #03484f;
}